<%= form_with model: @article, :html => {:class => "form", :id => "commentForm"} do |f| %>

  <% if user_signed_in? %>
<%= form_with model: @comment do |f| %>
 
  <% if user_signed_in? %>
    <%= f.text_field :article_id, hidden:true %>

    <label> Enter title </label>
    <%= f.text_field :title %>  

    <label> Enter body </label>
    <%= f.text_field :body %>

    <%= f.submit %>
  <%end%>
<% end %>
<script>
  var formHandle = document.getElementById('articleForm');
  var categoryHandle = document.getElementById('article_category_id');
  var titleHandle = document.getElementById('article_title');
  var b

  </script>