<h2>Home Page</h2>

<%= @categories.each_with_index do |p,index| %>
  <h3><%= p.name %> (<%= index+1%>)</h3>
  <h3><%= link_to "New Category", new_category_path %></h3>
  <h3><%= link_to "Show", p %></h3>
  <h3><%= link_to "Edit", edit_category_path(p) %></h3>
  <h3><%= link_to "Delete", p , method: :delete, data: {confirm: "sure?" } %></h3>
<% end %>