<h1><%= @category.name %></h1>
<p> <%= @category.description %></p>
  
  <% @category.articles.each_with_index do |article,index| %>  	
    <%# <%= article.feature_image_url %> 
	  <label>Title :</label><%= article.title %><br/>
	  <label>Body :</label><%= article.body%><br/>
	  <%= link_to "more", article%><br/> 
	  Posted on <%= article.publish_date.strftime("%B %d %Y") %><br/><br/>
  <% end %>
  <%= link_to "Home", categories_path %>


